# ─────────────────────────────────────────────
# ansible.cfg — Configuration Ansible locale
# Projet : kiwinet-infra-vm
# ─────────────────────────────────────────────

[defaults]
inventory         = inventory.ini
remote_user       = rookain
private_key_file  = ~/.ssh/kiwinet
host_key_checking = False
deprecation_warnings = False

[privilege_escalation]
become        = true
become_method = sudo
